<p>bonjour<%= @resource.email %>!</p>

<p>Pour changer de mot de passe, veuillez utiliser le lien suivant:.</p>

<p><%= link_to 'Changer de mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer ce message.</p>
<p>Votre mot de passe restera inchanger tant que vous n'utiliserez pas le lien au dessus.</p>
